<form action="/add/card" id="addCard">
  <div class="card">
    <input type="text" name="topic" placeholder="Название темы">
    <input type="text" name="question" placeholder="Вопрос">
    <input type="text" name="answer" placeholder="Ответ">
    <button class="btn">Отправить</button>
  </div>
</form>
