{{#each allCard}}
<div class="card">
  <h3 class="topic">{{this.topic}}</h3>
  <p class="question">{{this.question}}</p>
  <input type="text" name="answer" placeholder="Ваш ответ">
  <button class="btn">Ответить</button>
</div>
{{/each}}
