<div class="container">
  <div class="addAll">


    <div class="card">
      <div class="tools">
        <div class="circle">
          <span class="red box"></span>
        </div>
        <div class="circle">
          <span class="yellow box"></span>
        </div>
        <div class="circle">
          <span class="green box"></span>
        </div>
      </div>
      <div class="card__content">

        <div class="addPhoto">
          <h2 class="h2">Добавить фото</h2>

          <form action="/add/photo" id="add-photo" method="POST" enctype="multipart/form-data">
            <select name="allTopic" id="allTopic">
              {{#each allTopic}}
              <option value="{{this.id}}">{{this.title}}</option>
              {{/each}}
            </select>
            <input type="text" name="name" class="photo" placeholder="Название фото">
            <input type="text" name="comment" class="photo" placeholder="комментарий">
            <input type="file" name="photo" class="photo" placeholder="ссылка">
            <button class="btn-add-album" type="submit">Добавить</button>
          </form>
          <span class="sucsess"></span>

          {{!-- <form action="/add/photo" method="POST"></form> --}}
        </div>
      </div>
    </div>


    <div class="card">
      <div class="tools">
        <div class="circle">
          <span class="red box"></span>
        </div>
        <div class="circle">
          <span class="yellow box"></span>
        </div>
        <div class="circle">
          <span class="green box"></span>
        </div>
      </div>
      <div class="card__content">
        <div class="addAlbum">
          <h2 class="h2">Новый альбом</h2>
          <form action="/add/album" id="add-album" method="POST">
            <input type="text" name="title" class="photo" placeholder="Имя альбома">
            {{!-- <input type="checkbox" value="private" name="private">
            <label for="private">Приватный</label> Приватность альбома перенос --}}
            <button class="btn-add-album" type="submit">Добавить альбом</button>
          </form>
          <span class="sucsess"></span>
        </div>

      </div>
    </div>
  </div>
</div>
