<form class="form" action="/auth/login" method="post" id="form-login">
  <input class="input" type="email" placeholder="Ваш e-mail" name="email">
  <input class="input" type="password" placeholder="Пароль" name="password">
  <select name="role" id="select">
    <option value="admin">Админ</option>
  </select>
  <span class="error-span-login"></span>
  <button class="btn" type="submit">Войти</button>
</form>
