<script defer src="/js/photos.js"></script>
{{#each albumPhotos}}
 <div class="wave_inner">
    <figure class="wave">
        <img src={{link}} alt=""></img>
        <figcaption >{{name}}</figcaption>
    </figure>
</div>
{{/each}}
