<form class="form" action="/auth/registration" method="post" id="form-reg">
  <input class="input" type="email" placeholder="Ваш e-mail" name="email">
  <input class="input" type="password" placeholder="Пароль" name="password">
  <span class="error-span"></span>
  <button class="btn" type="submit">Регистрация</button>
</form>
